<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>All Expenses</title>
<style>
	table {
	margin-left: 350px;
	width: 700px;
}

td,th{
	padding: 10px;
}
</style>
</head>
<body>

		<form th:action="@{/logout}" method="post">
			<button type="submit" >Logout</button>
		</form>
		
	<h2 align="center">All Expenses</h2>
	
		<table border="2px">
			
				<tr>
					<th>Expense NAME</th>
					<th>AMOUNT</th>
					<th>DATE</th>
					<th>DISCRIPTION</th>
					<th>ACTION</th>
				</tr>
				
			
			<tr th:each="f : ${list}">
				<td th:text="${f.expenseName}"></td>
				<td th:text="${f.amount}"></td>
				<td th:text="${f.date}"></td>
				<td th:text="${f.description}"></td>
				<td>
					<a th:href="@{/updatePage/{id} (id=${f.id})}"><button>UPDATE</button></a>
				</td>
			</tr>
			
		</table><br>
		
	

</body>
</html>